*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.app {
    min-height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(circle at center, var(--clr-white-900), var(--clr-white-800));
    color: var(--clr-black-900);
}

.home-icon {
    position: fixed;
    top: 1rem;
    right: 1rem;
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
}